<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <select id="game-selector">
        <option disabled selected>Let's ball</optoin>
        <option> Runner</option>
        <option> Pong</option>
        <option> Baller</option>
    </select>
</body>
</html>